/* default selectors */
p {
  margin-bottom: 0;
}

.intro-content{
  background-color: #000;
  color: #000;
  text-align: center;
}

.intro-div-section {
  background-image: url("introbg.jpg");
  background-size: cover;
  text-align: center;
}

.my-image{
  width: 100%;
}

.my-nav-links{
  color: black;
}

.my-picture-text{
  text-align: center;

}

.tools-i-work-with{
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
}

.tools-images {
  height: 100px;
  margin-left: 40px;
  margin-top: 50px;
}

.what-i-do {
  background-color: #000;
  color: #fff;
  padding-bottom: 150px;
  padding-top: 150px;
  text-align: center;
}

.what-i-do-column-h2-header {
  margin-top: 30px;
}

.what-i-do-header {
  margin-bottom: 50px;
}



/*ids */

#intro-paragraph{
  padding-bottom: 200px;
  color: white;
  margin-bottom: 0px;
}

#intro-title-h1 {
  color: white;

}

#my-picture-header-text{
  margin-bottom: auto;
  margin-top: 50%;
}

#triangle-image {
  margin-top: 200px;
}
