/* default selectors */

html {
  scroll-behavior: smooth;
}

p {
  margin-bottom: 0;
}

.about-me-text-row {
  padding-top: 20px;
}

.about-me-div {
  text-align: center;
}

.about-me-text {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}


.contact-me{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 50px;
}

.contact-me-input{
  display: block;
  margin-top: 20px;

  padding: 15px 15px 15px;
  width: 100%;
  border-radius: 20px;
  border-width: 1px;
  border-style: inset;

}

.intro-content{
  background-color: #000;
  color: #000;
  text-align: center;
}

.intro-div-section {
  background-image: url("introbg.jpg");
  background-size: cover;
  text-align: center;
}

.footer-section {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding-top: 20px;
}

.my-image{
  width: 100%;
}

.my-nav-links{
  color: black;
}

.my-picture-text{
  text-align: center;

}

.navigation-section {
  position: fixed;
  width: 100%;
  z-index: +1;
}

.row {
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.social-icons {
  height: 50px;
  margin-left: 30px;
  width: 50px;
}

.social-icons:hover {
  height: 60px;
  width: 60px;
}

.social-icons-div {
  margin-bottom: 20px;
}


.tools-i-work-with{
  background-color: #000;
  color: #fff;
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
}

.tools-images {
  height: 100px;
  margin-left: 40px;
  margin-top: 50px;
}

.what-i-do {
  background-color: #000;
  color: #fff;
  padding-bottom: 150px;
  padding-top: 150px;
  text-align: center;
}

.what-i-do-column-h2-header {
  margin-top: 30px;
}

.what-i-do-header {
  margin-bottom: 50px;
}



/*ids */

#about-me-h1 {
   padding-top: 40px;
}

#brand-text-anchor {
  font-size: 2em;
  font-family: 'Heebo', sans-serif;
}

#intro-paragraph{
  color: white;
  margin-bottom: 0;
  padding-bottom: 200px;
}

#intro-title-h1 {
  color: white;
}

#my-picture-header-text{
  margin-bottom: auto;
  margin-top: 50%;
}

#submit-contact-button {
  margin-top: 15px;
  margin-bottom: 20px;
}

#triangle-image {
  margin-top: 200px;
}

/* start of desktop styles */

@media screen and (max-width: 991px) {
/* start of large tablet styles */


}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */
h1 {
  font-size: 2rem;
}
}

@media screen and (max-width: 700px) {
/* start of phone styles */
h1 {
  font-size: 2rem;
}

#intro-paragraph{
  color: white;
  margin-bottom: 0;
  padding-bottom: 20%;
}


p {
  font-size: 1rem;
  padding-left: 20%;
  padding-right: 20%;
}
}

/* combined css */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,.col-lg-7, .col-lg-8, .col-lg-9,
.col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-left: 0px;
  padding-right: 0px;
}
