html {
  scroll-behavior: smooth;
}

.fadeIn {
  opacity: 1;
  transition: 1s opacity;
}

.landingHead{
  background-color: #fff;
  text-align: center;
}

.loader {
  margin-top: 150px;
  display: inline-block;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.landingIcons {
  text-align: right;
}

.headerSectionTexts{
  color: #fff;
}
.row {
  margin-left: 0;
  margin-right: 0;
}

#footerSection {
  height: 50px;
  width: 100%;
  background-color: #000;
}

#loaderSection {
  text-align: center;
}

#logRegSection {
  display: none;
}

.margTop20 {
  margin-top: 20px;
}

.recents-cards {
  margin-top: 30px;
  text-align: center;
}

.regLogItems {
  width: 80%;
  height: 50px;
  border-radius: 20px;
  border: none;
  border: solid 1px #ccc;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.sectCard {
  text-align: center;
  border: solid 1px #ccc;
  border-radius: 15px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-class {
  text-align: center;
}

.sideFonts{
  color: #fff;
}

.top-text {
  position: absolute;
  left: 10%;
  z-index: +1;
  margin-top: 100px;
  background: rgba(214,29,78,0.9);
  padding: 20px;
  border-radius: 15px;
}

.userLeftSidePanel {
  background-color: #ff0b55;
  color: #fff;
}

#blah {
  max-width: 180px;
}

input[type=file] {
  padding: 10px;
  background: #bdbdbd;
  border-radius: 15px;
}

#discoverTextHead {
  color: #05a19c;
  font-family: 'Roboto Condensed', sans-serif;
}

#userLeftPanelProfilePic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  margin-top: 70px;
}

#footerSection {
  height: 50px;
  width: 100%;
  background-color: #000;
}

#headerSectionTitleText {
  font-family: 'Comfortaa', cursive;
  font-size: 60px;
}

#largeModalImage {
  max-height: 500px;
  object-fit: scale-down;
}

#headerSectionTagline {
  font-family: 'Courgette', cursive;
}

#registerHeaderText {
  margin-top: 20px;
}

#rightSideHeader {
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
  color: #ff0b55;
}

#taglineText {
  font-family: 'Pacifico', cursive;
}

#visibleBodySection {
  display: none;
}

#theModalBody {
  text-align: center;
}

#userLandingSection {

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
